{% extends "base.html" %}

{% load staticfiles %}
{% load thumbnail %}

{% block mainContent %}
   <div class="section"> 
	<div class="container">
		<h2>Book</h2>
   	</div>
   <div class="section st-invert no-padding">
      <section>

         <input id="num-pag" type="hidden" value="1" />
         <ul id="gallery-w-preview" class="gallery gl-cols-4 gl-fixed-items">
            
            {% for edecan in edecanes %}
                  <li class="gl-item gl-fixed-ratio-item gl-loading" data-category="{{ edecan.sexo }}">
                     <a href="#"> 
                        <figure>
                          {% thumbnail edecan.imagen "600x525" crop=edecan.alineacion as im %}
                            <img src="{{ im.url }}" alt="Edecanes/Gios {{edecan.alineacion}}">
                          {% endthumbnail %}
                        </figure>
                     </a>
                      <div class="gl-preview" style="diplay:none;">
                        <span class="glp-arrow"></span>
                        <a href="#" class="glp-close"></a>
                        <div class="row gl-preview-container">
                           <div class="col-sm-12">
                              <figure>
                                 {% if edecan.imagen|is_portrait %}
                                    {% thumbnail edecan.imagen "500x800" crop="center" as im %}
                                       <img src="{{ im.url }}" alt="Edecanes/Gios {{ edecan.nombre}}">
                                    {% endthumbnail %}
                                 {% else %}
                                    {% thumbnail edecan.imagen "800x500" crop="center" as im %}
                                       <img src="{{ im.url }}" alt="Edecanes/Gios {{ edecan.nombre}}">
                                    {% endthumbnail %}
                                 {% endif %}
                              </figure>
                           </div>
                        </div>
                     </div> <!-- gl-preview -->
                  </li>
            {% endfor %}
            
         </ul> <!-- gallery -->
         <div class="load-more-block">
            <a href="#" class="white-letters footer-loadmore" data-link="#" data-offset="5" data-items-per-page="5" style="display: inline;">Cargar mas</a>
            <span class="loading-spinner" style="display: none;"></span>
         </div>
      </section>
   </div> <!-- section -->
            
   <!-- <div class="section">-->
      <section>
         <div class="container">
            <div class="section-title">
               <h2 data-animate="fadeInDown" style="  margin-top: 35px;">Nuestros Servicios</h2>
               <!-- <p class="section-descr">We are team of creative photographers. We passionate with photography and other creative things. If you are looking professional photography theme with endless possibilities, you come in right place. This template consist of well-organized layers. Tons of features waiting for you. </p> -->
            </div>
            
            <div class="row services-block">
               <div class="col-md-4" data-animate="fadeInDown">
                  <div class="services-item">
                     <span class="sws-icon icon_camera_alt"></span>
                     <h5>Producciones</h5>
                        <div class="row">
                           <div class="col-xs-6">
                              <ul class="list-unstyled">
                                 <li>Fotógrafia y video</li>
                                 <li>Publiandantes</li>
                                 <li>Sky dancer</li>
                                 <li>Perifoneo</li>
                                 <li>Alfombra roja</li>
                                 <li>Zanqueros</li>
                              </ul>
                           </div>
                           <div class="col-xs-6">
                              <ul class="list-unstyled">
                                 <li>Show performance</li>
                                 <li>Body paint</li>
                                 <li>Fiestas tema</li>
                                 <li>Botarguistas</li>
                                 <li>Batucadas</li>
                              </ul>
                           </div>
                        </div>
                  </div>
               </div>
               <div class="col-md-4" data-animate="fadeInDown">
                  <div class="services-item">
                     <span class="sws-icon sws-icon-sm icon_lightbulb_alt"></span>
                     <h5>Activaciones</h5>
                     <div class="row">
                        <div class="col-xs-6">
                           <ul class="list-unstyled">
                              <li>Edecanes</li>
                              <li>Gios</li>
                              <li>Modelos</li>
                              <li>Promotoras</li>
                              <li>Demostradoras</li>
                              <li>Demo vendedoras</li>
                           </ul>
                        </div>
                        <div class="col-xs-6">
                           <ul class="list-unstyled">
                              <li>Extras</li>
                              <li>Degustadoras</li>
                              <li>Payasos</li>
                              <li>Zanqueros</li>
                              <li>Encuestadores</li>
                              <li>Volanteros</li>
                           </ul>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="col-md-4" data-animate="fadeInDown">
                  <div class="services-item">
                     <span class="sws-icon sws-icon-sm icon_plus_alt2"></span>
                     <h5>Servicios adicionales</h5>
                     <div class="row">
                        <div class="col-xs-8">
                           <ul class="list-unstyled">
                              <li>Barras de canapés</li>
                              <li>Mesas de dulces</li>
                              <li>Canastas de hospitalidad</li>
                              <li>Decoración con globos</li>
                              <li>Salas Lounge</li>
                              <li>Carpas</li>
                           </ul>
                        </div>
                        <div class="col-xs-4">
                           <ul class="list-unstyled">
                              <li>Escenarios</li>
                              <li>Iluminación</li>
                              <li>Sonido/ DJ</li>
                              <li>Fotografía</li>
                              <li>Video</li>
                           </ul>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="row bg-danger padding-medium">
               <div class="col-xs-4 text-center pink-alert-letters"><strong>No acompañantes</strong></div>
               <div class="col-xs-4 text-center pink-alert-letters"><strong>No scorts</strong></div>
               <div class="col-xs-4 text-center pink-alert-letters"><strong>No damas de compañía</strong></div>
            </div>

         </div> <!-- container -->
      </section>
   </div> <!-- section -->

         </div> <!-- container -->
      </section>
   </div> <!-- section -->
   
   {% if testimoniales|length > 0 %}
      <div class="section st-bg-grey-lighter">
         <section>
            <div class="container">
               <h2 class="section-title" data-animate="fadeInDown">Testimoniales</h2>
               
               <div id="carousel-testimonials" class="carousel-testimonials carousel slide" data-ride="carousel">
               
                  <!-- Wrapper for slides -->
                  <div class="carousel-inner text-center testimonials">
                  {% for testimonial in testimoniales %}
                      {% if forloop.first %}
                        <div class="item active testimonial">
                           <p class="citation">{{ testimonial.cita }}</p>
                           <p class="author">{{ testimonial.autor }} {% if testimonial.puesto|length > 0 %}/ {{testimonial.puesto}} {% endif %}</p>
                        </div>
                     {% else %}
                        <div class="item testimonial">
                           <p class="citation">{{ testimonial.cita }}</p>
                           <p class="author">{{ testimonial.autor }} {% if testimonial.puesto|length > 0 %}/ {{testimonial.puesto}} {% endif %}</p>
                        </div>
                     {% endif %}
                  {% endfor %}
                  </div>

                  <!-- Indicators -->
                  <ol class="carousel-indicators">
                     {% for testimonial in testimoniales %}
                        {% if forloop.first %}
                           <li data-target="#carousel-testimonials" data-slide-to="{{forloop.counter0}}" class="active"></li>
                        {% else %}
                           <li data-target="#carousel-testimonials" data-slide-to="{{forloop.counter0}}"></li>
                        {% endif %}
                     {% endfor %}
                  </ol>
                  
                  <!-- Controls -->
                  <a class="left carousel-control" href="#carousel-testimonials" data-slide="prev">
                     <span></span>
                  </a>
                  <a class="right carousel-control" href="#carousel-testimonials" data-slide="next">
                     <span></span>
                  </a>

               </div> <!-- carousel -->

            </div> <!-- container -->
         </section>
      </div> <!-- section -->
   {% endif %}
   
   <div class="well text-center" data-animate="fadeInUp">
      <div class="row">
         <div class="col-lg-8">
            <h3 class="no-margin">
               ¿LISTO PARA TRABAJAR CON NOSOTROS?
            </h3>
         </div>
         <div class="col-lg-4">
            <a href="/contacto/" class="btn btn-primary btn-lg btn-wider">Contactanos!</a>
         </div>
      </div>
   </div>
{% endblock %}
