{% extends "base.html" %}

{% load staticfiles %}
{% load thumbnail %}

{% block mainContent %}
   <div class="section">
      <section>
         <div class="container">
            <div class="row">
               <div class="col-md-8">
                  <h4 class="margin-btm-md">Hagamos contacto</h4>
                  <form role="form" class="contact-form validation-engine ajax-send">
                  {% csrf_token %}
                     <div class="row">
                        <div class="col-sm-4 form-group">
                           <label class="sr-only" for="input_name">Nombre *</label>
                           <!-- <input type="text" name="name" class="form-control validate[required]" id="input_name" placeholder="Nombre *"> -->
                           {{ form.name.errors }}
                           {{ form.name }}
                        </div>
                        <div class="col-sm-4 form-group">
                           <label class="sr-only" for="input_email">Email *</label>
                           <!-- <input type="email" name="email" class="form-control validate[required,custom[email]]" id="input_email" placeholder="Email *"> -->
                           {{ form.email.errors }}
                           {{ form.email }}
                        </div>
                        <div class="col-sm-4 form-group">
                           <label class="sr-only" for="input_subject">Asunto</label>
                           <!-- <input type="text" name="subject" class="form-control" id="input_subject" placeholder="Asunto"> -->
                           {{ form.subject.errors }}
                           {{ form.subject }}
                        </div>
                     </div>
                     <div class="form-group">
                        <label class="sr-only" for="input_message">Mensaje</label>
                        <!-- <textarea name="message" class="form-control validate[required]" rows="7" id="input_message" placeholder="Mensaje"></textarea> -->
                        {{ form.message.errors }}
                        {{ form.message }}
                     </div>
                     <div class="form-group">
                        <button type="submit" class="btn btn-default btn-wide">Enviar</button>
                        <span class="loading-spinner" style="display:none;"></span>
                     </div>
                  </form>
               </div>
               <div class="col-md-3 col-md-offset-1">
                  <h4 class="margin-btm-md">Información</h4>
                  <!-- <p class="address-block">
                  </p> -->
                  <p class="phone-block">
                     01 (744) 254 3628 <br>
                     ID: 42*839551*2<br>
                     Cel.: 744 588 4304
                  </p>
                  <p class="email-block">
                     <a href="mailto:contacto@agenciablueberry.com.mx">contacto@agenciablueberry.com.mx</a><br>
                     <!-- <a href="mailto:agencia_blueberry@hotmail.com">agencia_blueberry@hotmail.com</a> -->
                  </p>
               </div>
            </div>
         </div> <!-- container -->
      </section>
   </div> <!-- section -->
   
   <div class="section no-padding contact-map">
      <section>
         <div id="map-canvas"></div>
         <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&amp;sensor=false"></script>
         <script type="text/javascript">
            function initialize_google_map() {
               var myLatlng = new google.maps.LatLng(16.863085, -99.896578);
               var mapOptions = {
                  zoom: 12,
                  center: myLatlng,
                  scrollwheel: false
               }
               var map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);

               // var iconBase = 'assets/img/';

               // var marker_icon = {
               //    url: iconBase + 'map_marker.png',
               //    size: new google.maps.Size(44,49),
               //    origin: new google.maps.Point(0,0),
               //    anchor: new google.maps.Point(22,49)
               // };

               // var marker = new google.maps.Marker({
               //    position: myLatlng,
               //    map: map,
               //    title: 'M',
               //    icon: marker_icon 
               // });
            }
            google.maps.event.addDomListener(window, 'load', initialize_google_map);
         </script>
      </section>
   </div> <!-- section -->
{% endblock %}