{% extends "base.html" %}

{% load staticfiles %}
{% load thumbnail %}

{% block mainContent %}

   <div class="section">
      <section>
         <div class="container">
            <div class="section-title">
               <h2 data-animate="fadeInDown" class="">Congresos, Activaciones y más</h2>
            </div>

            <div class="row blog-list blog-masonry isotope-masonry">
                        
               {% for evento in eventos %}
               <div class="col-sm-6 col-md-4 blog-item isotope-item">
                  <div class="blog-image">
                     {% thumbnail evento.imagen "600" crop="center" as im %}
                     <img src="{{ im.url }}" alt="{{ evento.lugar }}-{{ evento.servicio }}">
                     {% endthumbnail %}
                  </div>
                  {%comment%}
                  <div class="blog-body">
                     <h4 class="blog-title">{{ evento.lugar }}</h4>
                     <p class="blog-info">{{ evento.servicio }}</p>
                  </div>
                  {%endcomment%}
               </div>
               {% endfor %}

            </div> <!-- blog-list -->

         </div> <!-- container -->
      </section>
   </div> <!-- section -->
{% endblock %}
