{% extends "base.html" %}

{% load staticfiles %}
{% load thumbnail %}

{% block mainContent %}

   <div class="section no-padding">
      <section>
         <div id="layerslider" style="width: 100%; height: 600px;">
            {% for slider in sliders %}
               {% thumbnail slider.imagen "1200x600" crop="center top" as im %}
                  <div class="ls-slide" data-ls="slidedelay: 5000; transition2d:5;">
                        <img src="{{ im.url }}" class="ls-bg" alt="{{slider.titulo}}">
                     
                     {% if slider.titulo|length > 0 %}
                     <p class="ls-l ls-mental-title" style="top:360px; left:0;" data-ls="offsetxin:0;durationin:2000;delayin:500;easingin:easeOutElastic;rotatexin:-90;transformoriginin:50% top 0;offsetxout:-200;durationout:1000;">
                        {{slider.titulo}}
                     </p>
                     {% endif %}

                     {% if slider.descripcion|length > 0 %}
                     <p class="ls-l ls-mental-desrc" style="top:440px; left:0;" data-ls="offsetxin:0;durationin:2000;delayin:700;easingin:easeOutElastic;rotatexin:-90;transformoriginin:50% top 0;offsetxout:-200;durationout:1000;">
                        {{slider.descripcion}}
                     </p>
                     {% endif %}
                     <!-- <a href="#" class="ls-l btn btn-primary ls-mental-button" style="top:295px; left:0;" data-ls="offsetxin:0;durationin:2000;delayin:900;easingin:easeOutElastic;rotatexin:-90;transformoriginin:50% top 0;offsetxout:-200;durationout:1000;">View Project</a> -->
                  </div>  
               {% endthumbnail %} 
            {% endfor %}  
         </div> <!-- layerslider -->
      </section>
   </div> <!-- section -->

   <div class="section">
      <section>
         <div class="container">
            <div class="row">
               <div class="col-sm-6 text-justify">
                  <h3>¿Quiénes Somos?</h3>
						<p>Blueberry es una Agencia de Edecanes que tiene como objetivo principal contribuir a mejorar la imagen de marca y calidad de negocio de nuestros clientes.

                  <p>Ofrecemos un servicio 100% profesional, contamos con toda la infraestructura, nuestras edecanes tienen una excelente presentación, así como actitud de servicio para representar a su empresa en forma por demás profesional.</p>

                  <p>Contamos con amplia y exitosa experiencia en manejo y operación de:</p>
                  <p>
                     Congresos, Convenciones, Exposiciones, Ferias, Muestreo, Encuestas, Pasarelas, Campañas de lanzamiento, Siembra de Productos, Posicionamiento de marca, Campañas BTL
                  </p>
               </div>
               <div class="col-sm-6 text-justify">
                  <h3>Edecanes</h3>
                  <p>En Blueberry tenemos a las mejores modelos y edecanes en Acapulco.</p>

                  <p>Contrata a nuestros profesionales para: pasarelas, desfiles de moda, campañas, exposiciones, lanzamiento y reposicionamiento de productos, promociones, convenciones, conferencias, congresos, degustación, comerciales, fotos fijas, eventos sociales, eventos políticos, animación en bares y discotecas, animación en hoteles, la videofilmación de tu boda, etc.</p>

                  <p>Nos encargarnos de la organización total de tu evento así como también de todos los servicios y equipamientos que necesites. </p>
               </div>
            </div>
         </div> <!-- container -->
      </section>
   </div> <!-- section -->

   
   <div class="section st-invert no-padding">
      <section>

         <ul class="gallety-filters">
            <li class="active"><a data-filter="*" href="#">Todos</a></li>
            <li><a data-filter="F" href="#">Ellas</a></li>
            <li><a data-filter="M" href="#">Ellos</a></li>
            <li class="gf-underline"></li>
         </ul>

         <ul id="gallery-w-preview" class="gallery gl-cols-4 gl-fixed-items">
            
         {% for edecan in edecanes %}
                  <li class="gl-item gl-fixed-ratio-item gl-loading" data-category="{{ edecan.sexo }}">
                     <a href="#"> 
                        <figure>
                           {% if edecan.imagen|is_portrait %}
                              {% thumbnail edecan.imagen "500x743" crop="center" as im %}
                                 <img src="{{ im.url }}" alt="Edecanes/Gios {{ edecan.nombre}}">
                              {% endthumbnail %}
                           {% else %}
                              {% thumbnail edecan.imagen "743x500" crop="center" as im %}
                                 <img src="{{ im.url }}" alt="Edecanes/Gios {{ edecan.nombre}}">
                              {% endthumbnail %}
                           {% endif %}

                           <figcaption>
                              <div class="middle"><div class="middle-inner">
                                 <p class="gl-item-title">{{ edecan.nombre }}</p>
                  
                              </div></div>
                           </figcaption>
                        </figure>
                     </a>
                      <div class="gl-preview" style="diplay:none;">
                        <span class="glp-arrow"></span>
                        <a href="#" class="glp-close"></a>
                        <div class="row gl-preview-container">
                           <div class="col-sm-8">
                              <figure>
                                 {% if edecan.imagen|is_portrait %}
                                    {% thumbnail edecan.imagen "500x743" crop="center" as im %}
                                       <img src="{{ im.url }}" alt="Edecanes/Gios {{ edecan.nombre}}">
                                    {% endthumbnail %}
                                 {% else %}
                                    {% thumbnail edecan.imagen "743x500" crop="center" as im %}
                                       <img src="{{ im.url }}" alt="Edecanes/Gios {{ edecan.nombre}}">
                                    {% endthumbnail %}
                                 {% endif %}
                              </figure>
                           </div>
                           <div class="col-sm-4 lg-preview-descr">
                              <h4>{{ edecan.nombre }}</h4>
                              {{ edecan.descripcion|linebreaks }}
                              <!-- <div class="mb-social glp-social">
                                 <p>Share</p>
                                 <a href="#"><i class="fa fa-twitter"></i></a>
                                 <a href="#"><i class="fa fa-facebook"></i></a>
                                 <a href="#"><i class="fa fa-google-plus"></i></a>
                                 <a href="#"><i class="fa fa-instagram"></i></a>
                                 <a href="#"><i class="fa fa-pinterest"></i></a>
                                 <a href="#"><i class="fa fa-tumblr"></i></a>
                              </div> -->
                           </div>
                        </div>
                     </div> <!-- gl-preview -->
                  </li>
            {% endfor %}
            
         </ul> <!-- gallery -->
         <div class="load-more-block">
            <a href="/book/" class="white-letters footer-loadmore-1" data-link="#" data-offset="5" data-items-per-page="5">CONOCE MÁS NUESTRO BOOK</a>
            <span class="loading-spinner" style="display:none;"></span>
         </div>
      </section>
   </div> <!-- section -->
            
   <div class="section">
      <section>
         <div class="container">
            <div class="section-title">
               <h2 data-animate="fadeInDown">Nuestros Servicios</h2>
               <!-- <p class="section-descr">We are team of creative photographers. We passionate with photography and other creative things. If you are looking professional photography theme with endless possibilities, you come in right place. This template consist of well-organized layers. Tons of features waiting for you. </p> -->
            </div>
            
            <div class="row services-block">
               <div class="col-md-4" data-animate="fadeInDown">
                  <div class="services-item">
                     <span class="sws-icon icon_camera_alt"></span>
                     <h5>Producciones</h5>
                        <div class="row">
                           <div class="col-xs-6">
                              <ul class="list-unstyled">
                                 <li>Fotógrafia y video</li>
                                 <li>Publiandantes</li>
                                 <li>Sky dancer</li>
                                 <li>Perifoneo</li>
                                 <li>Alfombra roja</li>
                                 <li>Zanqueros</li>
                              </ul>
                           </div>
                           <div class="col-xs-6">
                              <ul class="list-unstyled">
                                 <li>Show performance</li>
                                 <li>Body paint</li>
                                 <li>Fiestas tema</li>
                                 <li>Botarguistas</li>
                                 <li>Batucadas</li>
                              </ul>
                           </div>
                        </div>
                  </div>
               </div>
               <div class="col-md-4" data-animate="fadeInDown">
                  <div class="services-item">
                     <span class="sws-icon sws-icon-sm icon_lightbulb_alt"></span>
                     <h5>Activaciones</h5>
                     <div class="row">
                        <div class="col-xs-6">
                           <ul class="list-unstyled">
                              <li>Edecanes</li>
                              <li>Gios</li>
                              <li>Modelos</li>
                              <li>Promotoras</li>
                              <li>Demostradoras</li>
                              <li>Demo vendedoras</li>
                           </ul>
                        </div>
                        <div class="col-xs-6">
                           <ul class="list-unstyled">
                              <li>Extras</li>
                              <li>Degustadoras</li>
                              <li>Payasos</li>
                              <li>Zanqueros</li>
                              <li>Encuestadores</li>
                              <li>Volanteros</li>
                           </ul>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="col-md-4" data-animate="fadeInDown">
                  <div class="services-item">
                     <span class="sws-icon sws-icon-sm icon_plus_alt2"></span>
                     <h5>Servicios adicionales</h5>
                     <div class="row">
                        <div class="col-xs-8">
                           <ul class="list-unstyled">
                              <li>Barras de canapés</li>
                              <li>Mesas de dulces</li>
                              <li>Canastas de hospitalidad</li>
                              <li>Decoración con globos</li>
                              <li>Salas Lounge</li>
                              <li>Carpas</li>
                           </ul>
                        </div>
                        <div class="col-xs-4">
                           <ul class="list-unstyled">
                              <li>Escenarios</li>
                              <li>Iluminación</li>
                              <li>Sonido/ DJ</li>
                              <li>Fotografía</li>
                              <li>Video</li>
                           </ul>
                        </div>
                     </div>
                  </div>
               </div>
            </div>

            <div class="row bg-danger padding-medium">
               <div class="col-xs-4 text-center pink-alert-letters"><strong>No acompañantes</strong></div>
               <div class="col-xs-4 text-center pink-alert-letters"><strong>No scorts</strong></div>
               <div class="col-xs-4 text-center pink-alert-letters"><strong>No damas de compañía</strong></div>
            </div>

         </div> <!-- container -->
      </section>
   </div> <!-- section -->

         </div> <!-- container -->
      </section>
   </div> <!-- section -->

   {% if testimoniales|length > 0 %}
      <div class="section st-bg-grey-lighter">
         <section>
            <div class="container">
               <h2 class="section-title" data-animate="fadeInDown">Testimoniales</h2>
               
               <div id="carousel-testimonials" class="carousel-testimonials carousel slide" data-ride="carousel">
               
                  <!-- Wrapper for slides -->
                  <div class="carousel-inner text-center testimonials">
                  {% for testimonial in testimoniales %}
                      {% if forloop.first %}
                        <div class="item active testimonial">
                           <p class="citation">{{ testimonial.cita }}</p>
                           <p class="author">{{ testimonial.autor }} {% if testimonial.puesto|length > 0 %}/ {{testimonial.puesto}} {% endif %}</p>
                        </div>
                     {% else %}
                        <div class="item testimonial">
                           <p class="citation">{{ testimonial.cita }}</p>
                           <p class="author">{{ testimonial.autor }} {% if testimonial.puesto|length > 0 %}/ {{testimonial.puesto}} {% endif %}</p>
                        </div>
                     {% endif %}
                  {% endfor %}
                  </div>

                  <!-- Indicators -->
                  <ol class="carousel-indicators">
                     {% for testimonial in testimoniales %}
                        {% if forloop.first %}
                           <li data-target="#carousel-testimonials" data-slide-to="{{forloop.counter0}}" class="active"></li>
                        {% else %}
                           <li data-target="#carousel-testimonials" data-slide-to="{{forloop.counter0}}"></li>
                        {% endif %}
                     {% endfor %}
                  </ol>
                  
                  <!-- Controls -->
                  <a class="left carousel-control" href="#carousel-testimonials" data-slide="prev">
                     <span></span>
                  </a>
                  <a class="right carousel-control" href="#carousel-testimonials" data-slide="next">
                     <span></span>
                  </a>

               </div> <!-- carousel -->

            </div> <!-- container -->
         </section>
      </div> <!-- section -->
   {% endif %}
{% endblock %}

            