{% load thumbnail %}

{% for edecan in otros %}
      <li class="gl-item gl-fixed-ratio-item gl-loading" data-category="{{ edecan.sexo }}">
         <a href="#"> 
            <figure>
              {% thumbnail edecan.imagen "600x400" crop=edecan.alineacion as im %}
                <img src="{{ im.url }}" alt="Edecanes/Gios {{edecan.alineacion}}">
              {% endthumbnail %}
            </figure>
         </a>
          <div class="gl-preview" style="diplay:none;">
            <span class="glp-arrow"></span>
            <a href="#" class="glp-close"></a>
            <div class="row gl-preview-container">
               <div class="col-sm-12">
                  <figure>
                     {% if edecan.imagen|is_portrait %}
                        {% thumbnail edecan.imagen "500x800" crop="center" as im %}
                           <img src="{{ im.url }}" alt="Edecanes/Gios {{ edecan.nombre}}">
                        {% endthumbnail %}
                     {% else %}
                        {% thumbnail edecan.imagen "800x500" crop="center" as im %}
                           <img src="{{ im.url }}" alt="Edecanes/Gios {{ edecan.nombre}}">
                        {% endthumbnail %}
                     {% endif %}
                  </figure>
               </div>
            </div>
         </div> <!-- gl-preview -->
      </li>
{% endfor %}
