{% extends "base.html" %}

{% load staticfiles %}
{% load thumbnail %}

{% block mainContent %}

   <div class="section">
      <section>
         <div class="container">
            <div class="row">
               <div class="col-xs-12 text-justify">
                  <h3>¿Quiénes Somos?</h3>
                  <p>Blueberry es una Agencia de Edecanes que tiene como objetivo principal contribuir a mejorar la imagen de marca y calidad de negocio de nuestros clientes. Ofrecemos un servicio 100% profesional, contamos con toda la infraestructura, nuestras edecanes tienen una excelente presentación, así como actitud de servicio para representar a su empresa en forma por demás profesional.</p>

                  <p>
                  Le ofremos para sus eventos personal especializado como edecanes, modelos, gios, animadoras, animadores, promotoras, promotores, demostradoras, extras, degustadoras, zanqueros, payasos, encuestadores.
                  </p>

                  <p>
                  Contamos con modelos guapas y preparadas, profesionales para fotografía, sky dancer, publiandantes, perifoneo, show performance, alfombra roja, body paint, botarguistas, fiestas tema para que su evento, show o pasarela sea todo un éxito.   
                  </p>

                  <p>Contamos con amplia y exitosa experiencia en manejo y operación de:</p>
                  <div class="row">
                     <div class="col-sm-6">
                        <ul>
                           <li>Congresos</li>
                           <li>Convenciones</li>
                           <li>Exposiciones</li>
                           <li>Ferias</li>
                           <li>Muestreo</li>
                           <li>Encuestas</li>
                        </ul>
                     </div>
                     <div class="col-sm-6">
                        <ul>
                           <li>Pasarelas</li>
                           <li>Campañas de lanzamiento</li>
                           <li>Siembra de Productos</li>
                           <li>Posicionamiento de marca</li>
                           <li>Campañas BTL</li>
                        </ul>
                     </div>
                  </div>

                  <p>
                  Podemos ayudarle a realizar un magnífico evento, solicite presupuesto sin costo. <strong>servicio local</strong> en el Puerto de Acapulco y <strong>foraneo</strong> a todo Guerrero.
                  </p>

               </div>

            </div>
         </div> <!-- container -->
      </section>
   </div> <!-- section -->

   <div class="section parallax" data-stellar-background-ratio="0.5" data-stellar-vertical-offset="-50" style="background-image: url('{% static "assets/img/playa.jpg" %}'); background-position: 50% -108px;">
      <section></section>
   </div>

   <div class="section">
      <section>
         <div class="container">
            <div class="row">
               <div class="col-xs-12 text-justify">
                  <h3>Edecanes</h3>
                  <p>En Blueberry tenemos a las mejores modelos y edecanes en Acapulco.</p>

                  <p>Contrata a nuestros profesionales para pasarelas, desfiles de moda, campañas, exposiciones, lanzamiento y reposicionamiento de productos, promociones, convenciones, conferencias, congresos, degustación, comerciales, fotos fijas, eventos sociales, eventos políticos, animación en bares y discotecas, animación en hoteles, la videofilmación de tu boda, etc.</p>

                  <p>Nos encargarnos de la organización total de tu evento así como también de todos los servicios y equipamientos que necesites. </p>
               </div>

            </div>
         </div> <!-- container -->
      </section>
   </div> <!-- section -->

   <div class="well text-center" data-animate="fadeInUp">
      <div class="row">
         <div class="col-lg-8">
            <h3 class="no-margin">
               ¿LISTO PARA TRABAJAR CON NOSOTROS?
            </h3>
         </div>
         <div class="col-lg-4">
            <a href="contacto.html" class="btn btn-primary btn-lg btn-wider">Contactanos!</a>
         </div>
      </div>
   </div>

{% endblock %}

            